@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.hacker{
 width: 500px;

}
.product-img{
  width: 70px;
  height: 70px;
}
.product-img2{
  width: 1000px ;
  height: 250px;
object-fit: fill;
  
}
.width-margin{
  max-width: 600px;
  margin: 0 auto;
}
@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.project-logo {
  width: 700px;
  height: 700px;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  animation-duration: 0.2s;
  animation-name: scale;
  animation-timing-function: ease-in-out;
  transition: all 0.2s ease-in-out;
}


.project-logo:hover {
  transform: scale(1.1);
}
.ico:hover svg {
  transform: scale(1.3);
  transition: all 0.3s ease;
}

@media (max-width: 391px){
  .project-logo{
    padding-left: 10px;
    padding-right: 10px;
    width: 500px;
    height: 500px;

  }
}


@media (max-width: 391px) {
  .product-img{
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 391px) {
  .width-margin{
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (max-width:391px) {
  .product-img2{
    width: 300px ;
   height: 125px;
   object-fit: fill;
    
  }
}
@media (max-width: 700px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 700px) {
  .menu{
    display: none;
  }
}

